################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/vendor
/composer.lock
/composer.json
/.vs
/google-cloud-sdk
.vs/htdocs/v17/.suo
.vs/htdocs/v17/workspaceFileList.bin
.vs/VSWorkspaceState.json
.vs/htdocs/v17/.suo
.vs/htdocs/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
